{% extends 'base.html' %}
{% block content %}
    {% load i18n %}
    {% load bootstrap %}
    {% include 'nav_cat_bar.html' %}
    {% include 'error_block.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <form class="form-horizontal" method="post" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Name" %}</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="name" placeholder="{% trans "Name" %}" maxlength="14" required pattern="[a-zA-Z0-9\.\-_]+">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "VCPU" %}</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="vcpu" value="1" maxlength="1" required pattern="[0-9]">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Host-Model" %}</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="host_model" value="true" checked>
                                </div>
                                <label class="col-sm-1 control-label">{% trans "CPU" %}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "RAM" %}</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="memory" value="512" maxlength="5" required pattern="[0-9]+">
                                </div>
                                <label class="col-sm-1 control-label">{% trans "MB" %}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "HDD" %}</label>
                                <div class="col-sm-6">
                                    <select name="template" class="form-control">
                                        {% if get_images %}
                                            {% for name in get_images %}
                                                <option value="{{ name }}">{{ name }}</option>
                                            {% endfor %}
                                        {% else %}
                                            <option value="">{% trans "None" %}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group meta-prealloc">
                                <label class="col-sm-3 control-label">{% trans "Metadata" %}</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="meta_prealloc" title="Metadata preallocation" value="true">
                                </div>
                                <label class="col-lg-1 control-label">{% trans "Image" %}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "HDD cache mode" %}</label>
                                <div class="col-sm-6">
                                    <select id="cache_mode" name="cache_mode" class="form-control">
                                        {% for mode, name in cache_modes %}
                                            <option value="{{ mode }}">{% trans name %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Network" %}</label>
                                <div class="col-sm-6">
                                    <select name="networks" class="form-control">
                                        {% for network in networks %}
                                            <option value="{{ network }}">{{ network }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "VirtIO" %}</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="virtio" value="true" checked>
                                </div>
                            </div>
                            {% if storages %}
                                <button type="submit" class="btn btn-primary" name="create" value="1">
                                    {% trans "Create" %}
                                </button>
                            {% else %}
                                <button class="btn btn-primary disabled">
                                    {% trans "Create" %}
                                </button>
                            {% endif %}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}