{% extends 'base.html' %}
{% load i18n %}
{% load mytags %}
{% block content %}
    {% load bootstrap %}
    {% include 'nav_cat_bar.html' %}
    {% include 'error_block.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" id="all">
                    <div class="ibox-title">
                        <h5> 主机详细信息列表</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form id="asset_form">
                            <div id="export"></div>
                            <table class="table table-striped table-bordered table-hover " id="editable" name="editable">
                                <thead>
                                            <tr>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">VCPU</th>
                                                <th class="text-center">Memory</th>
                                                <th class="text-center" data-sortable="false" style="width: 165px;">Actions</th>
                                            </tr>
                                        </thead>
                                <tbody>

                                {% for inst, vm in all_user_vms.items %}
                                    <tr>
                                        <td class="text-center"><a href="{% url 'instance' vm.compute_id vm.name %}">{{ vm.name }}</a><br><small><em>{{ vm.title }}</em></small></td>
                                        <td class="text-center">{% ifequal vm.status 1 %}
                                            <span class="text-success">{% trans "Active" %}</span>
                                        {% endifequal %}
                                            {% ifequal vm.status 5 %}
                                                <span class="text-danger">{% trans "Off" %}</span>
                                            {% endifequal %}
                                            {% ifequal vm.status 3 %}
                                                <span class="text-warning">{% trans "Suspend" %}</span>
                                            {% endifequal %}
                                        </td>
                                        <td class="text-center">{{ vm.vcpu }}</td>
                                        <td class="text-center">{{ vm.memory }} {% trans "MB" %}</td>
                                        <td class="text-center"><form action="" method="post" role="form">{% csrf_token %}
                                            <input type="hidden" name="name" value="{{ vm.name }}"/>
                                            <input type="hidden" name="compute_id" value="{{ vm.compute_id }}"/>
                                            {% ifequal vm.status 5 %}
                                                {% if inst.instance.is_template %}
                                                    <button class="btn btn-sm btn-default" type="button" name="clone" title="{% trans "Clone" %}" onclick="goto_instance_clone({{ vm.compute_id }}, '{{ vm.name }}');">
                                                        <span class="glyphicon glyphicon-duplicate"></span>
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-sm btn-default" type="submit" name="poweron" title="{% trans "Power On" %}">
                                                        <span class="glyphicon glyphicon-play"></span>
                                                    </button>
                                                {% endif %}
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "Power Off" %}">
                                                    <span class="glyphicon glyphicon-off"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "Power Cycle" %}">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "VNC Console" %}">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </button>
                                            {% endifequal %}
                                            {% ifequal vm.status 3 %}
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "Power On" %}">
                                                    <span class="glyphicon glyphicon-play"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "Power Off" %}">
                                                    <span class="glyphicon glyphicon-off"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "Power Cycle" %}">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "VNC Console" %}">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </button>
                                            {% endifequal %}
                                            {% ifequal vm.status 1 %}
                                                <button class="btn btn-sm btn-default disabled" title="{% trans "Power On" %}">
                                                    <span class="glyphicon glyphicon-play"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default" type="submit" name="poweroff" title="{% trans "Power Off" %}">
                                                    <span class="glyphicon glyphicon-off"></span>
                                                </button>
                                                <button class="btn btn-sm btn-default" type="submit" name="powercycle" title="{% trans "Power Cycle" %}" onclick="return confirm('Are you sure?')">
                                                    <span class="glyphicon glyphicon-refresh"></span>
                                                </button>
                                                <a href="#" class="btn btn-sm btn-default" onclick='open_console("{{ vm.compute_id }}-{{ vm.uuid }}")' title="{% trans "Console" %}">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            {% endifequal %}
                                        </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                        Showing {{ compute.start_index }} to {{ compute.end_index }} of {{ p.count }} entries
                                    </div>
                                </div>
                                {% include 'paginator.html' %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block self_footer_js %}
    <script>
        $(document).ready(function(){
            $('.server_del').click(function(){
                var row = $(this).closest('tr');
                if (confirm("确定删除?")) {
                    $.get(
                            $(this).attr('value'),
                            {},
                            function (data) {
                                row.remove()
                            }
                    )
                }
            });

        });

        function windowOpen(a){
            var new_url = $(a).attr('href');
            var hostname = $(a).attr('value');
            var title = 'Jumpserver Web Terminal - ' + '<span class="text-info"> '+ hostname +'</span>';
            if (navigator.platform == 'Win32'){
                /*
                 layer.open({
                 type: 2,
                 title: title,
                 maxmin: true,
                 area: ['628px', '420px'],
                 shade: false,
                 content: new_url
                 });
                 */
                window.open(new_url, '_blank')

            } else {
                /*
                 layer.open({
                 type: 2,
                 title: title,
                 maxmin: true,
                 area: ['628px', '452px'],
                 shade: false,
                 content: new_url
                 });
                 */
                window.open(new_url, '_blank');
            }

            return false
        }

        function windowOpenExec(a){
            var new_url = $(a).attr('href');
            var title = 'Jumpserver Exec Terminal';
            layer.open({
                type: 2,
                title: title,
                maxmin: true,
                area: ['725px', '600px'],
                shade: false,
                content: new_url
            });
            return false
        }

        {#        $(".iframe").on('click', function(){#}
        {#            var asset_id_all = getIDall();#}
        {#            if (asset_id_all == ''){#}
        {#                alert("请至少选择一行!");#}
        {#                return false;#}
        {#            }#}
        {#            var url= $(this).attr("value") + '?asset_id_all=' + asset_id_all;#}
        {#            parent.layer.open({#}
        {#                type: 2,#}
        {#                title: 'JumpServer - 批量修改主机',#}
        {#                maxmin: true,#}
        {#                shift: 'top',#}
        {#                border: [2, 0.3, '#1AB394'],#}
        {#                shade: [0.5, '#000000'],#}
        {#                area: ['800px', '600px'],#}
        {#                shadeClose: true,#}
        {#                content: url,#}
        {#                cancel: function(){#}
        {#                    location.replace(location.href);#}
        {#                }#}
        {#            });#}
        {#        });#}

        {#        $('.search-btn-excel').unbind('click').bind('click',function(){#}
        {#            var url= $(this).attr("href");#}
        {#            $.ajax({#}
        {#                type: "GET",#}
        {#                url: url,#}
        {#                data: $("#asset_form").serialize(),#}
        {#                success: function (data) {#}
        {#                    $("#export").html(data);#}
        {#                }#}
        {#            });#}
        {#        });#}

        function change_info(){
            var args = $("#asset_form").serialize();
            window.location = "{% url 'instances' %}?" + args
        }

        $("#search_input").keydown(function(e){
            if(e.keyCode==13){
                change_info()
            }
        });
        function open_console(uuid) {
            window.open("{% url 'console' %}?token=" + uuid, "", "width=850,height=485");
        }
        function goto_compute() {
            var compute = $("#compute_select").val();
            var type = $("#type_select").val();
            window.location = "/compute/" + compute +"/"+ type + "/create/";
        }
    </script>

{% endblock %}
