{% extends 'base.html' %}
{% load mytags %}

{% load bootstrap %}
{% block content %}

    {% include 'nav_cat_bar.html' %}
    {% include 'error_block.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写基本信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
{#                    <div class="ibox-content">#}
{#                        <form method="post" id="serverForm" class="form-horizontal" action="">#}
{#                            {% if error %}#}
{#                                <div class="alert alert-warning text-center">{{ error }}</div>#}
{#                            {% endif %}#}
{#                            {% if msg %}#}
{#                                <div class="alert alert-success">{{ msg | safe }}</div>#}
{#                            {% endif %}#}
{#                            <div class="form-group">#}
{#                                <label for="name" class="col-sm-2 control-label">服务器名<span class="red-fonts">*</span></label>#}
{#                                <div class="col-sm-8">#}
{#                                    <input id="name" name="name" placeholder="Servername" type="text" class="form-control" {% if error %}value="{{ name }}" {% endif %}>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="hr-line-dashed"></div>#}
{#                            <div class="form-group">#}
{#                                <label for="hostname" class="col-sm-2 control-label">IP<span class="red-fonts">*</span></label>#}
{#                                <div class="col-sm-8">#}
{#                                    <input id="hostname" name="hostname" placeholder="ip" type="text" class="form-control" {% if error %}value="{{ hostname }}" {% endif %} >#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="hr-line-dashed"></div>#}
{#                            <div class="form-group">#}
{#                                <label for="login" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>#}
{#                                <div class="col-sm-8">#}
{#                                    <input id="login" name="login" placeholder="login" type="text" class="form-control" {% if error %}value="{{ login }}" {% endif %} >#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="hr-line-dashed"></div>#}
{#                            <div class="form-group">#}
{#                                <div class="col-sm-4 col-sm-offset-2">#}
{#                                    <button class="btn btn-white" type="reset">取消</button>#}
{#                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
                    <div class="ibox-content">
                    {% if emg %}
                        <div class="alert alert-warning text-center">{{ emg }}</div>
                    {% endif %}
                    {% if smg %}
                        <div class="alert alert-success text-center">{{ smg }}</div>
                    {% endif %}
                    <form id="serverForm" method="post" class="form-horizontal">
                        {{ server_form.name|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ server_form.hostname|bootstrap_horizontal }}

                        <div class="hr-line-dashed"></div>
                        {{ server_form.login|bootstrap_horizontal }}



                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button class="btn btn-white" type="submit"> 重置 </button>
                                <button class="btn btn-primary" type="sumbit"> 提交 </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block self_footer_js %}

<script>
$('#serverForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_hostname: [/[^a-zA-Z0-9._-]+$/i, '大小写字母数字和下划线小数点,2-20位,并且非root'],
        check_username: [/[^a-zA-Z0-9._-]+$/, '大小写字母数字和下划线小数点'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "name": {
            rule: "required",
            tip: "输入服务器名称",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "hostname": {
            rule: "required",
            tip: "服务器IP地址",
            ok: "",
            msg: {required: "必须填写"}
        },
        "login": {
            rule: "required",
            tip: "用户名（用于SSH链接）",
            ok: "",
            msg: {required: "必须填写"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});


</script>
{% endblock %}
